.favAlbum {
  -moz-box-shadow: -5px 0 5px -5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: -5px 0 5px -5px rgba(30, 30, 30, 0.25);
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: -10px 0px 10px -5px rgba(30, 30, 30, 0.25);
  border: 0 solid lightgray;
  border-radius: 4px;
  background-color: #F7F7F7;
  width: 10vw;
  height: 10vw;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.favAlbum:first-child {
  transition: all 0.3s ease-in-out;
  margin-right: 24vw;
}

.favAlbum:nth-child(2) {
  transition: all 0.3s ease-in-out;
  margin-right: 18vw;
}

.favAlbum:nth-child(3) {
  transition: all 0.3s ease-in-out;
  margin-right: 12vw;
}

.favAlbum:nth-child(4) {
  transition: all 0.3s ease-in-out;
  margin-right: 6vw;
}

.favAlbum:last-child {
  transition: all 0.3s ease-in-out;
}

.favAlbum:last-child:hover {
  transform: rotate(8deg);
  transition: all 0.3s ease-in-out;
}


.favAlbum:nth-child(2):hover {
  transition: all 0.3s ease-in-out;
  margin-right: 20vw;
}

.favAlbum:nth-child(3):hover {
  transition: all 0.3s ease-in-out;
  margin-right: 14vw;
}

.favAlbum:nth-child(4):hover {
  transition: all 0.3s ease-in-out;
  margin-right: 8vw;
}

.favAlbum:first-child:hover {
  transition: all 0.3s ease-in-out;
  margin-right: 26vw;
}

.favAlbum.slide-right {
  -moz-transform: translateX(140px);
  -ms-transform: translateX(140px);
  -webkit-transform: translateX(140px);
  transform: translateX(140px);
  transition: all 0.3s ease-in-out;
}

.favAlbum.back {
  scale: 0.7;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.favAlbums {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vw;
}