.image {
  background-color: red;
  position: absolute;
  height: 200px;
  width: 128px;
  border-radius: 2px 8px 8px 2px;
  border-bottom-width: 15px;
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  z-index: 2;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.image:first-child {
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.image:nth-child(2) {
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.image:last-child {
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.images:hover .image:nth-child(2) {
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  -ms-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  -webkit-transform: rotate(-4deg) translateX(-32px) translateY(4px);
  transform: rotate(-4deg) translateX(-32px) translateY(4px);
}

.images:hover .image:first-child {
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  -ms-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  -webkit-transform: rotate(-8deg) translateX(-64px) translateY(8px);
  transform: rotate(-8deg) translateX(-64px) translateY(8px);
}

.image.slide-right {
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(140px);
  -ms-transform: translateX(140px);
  -webkit-transform: translateX(140px);
  transform: translateX(140px);
}

.image.back {
  transition: all 0.3s ease-in-out;
  transform: rotate(-8deg);
  opacity: 0;
  z-index: 1;
}

.image.edit {
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transform: rotate(0deg) translateX(0px) translateY(0px);
  -ms-transform: rotate(0deg) translateX(0px) translateY(0px);
  -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
  transform: rotate(0deg) translateX(0px) translateY(0px);
}

.images.edit {
  z-index: 100;
  transition: all 0.3s ease-in-out;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  gap: 16px;
}

.images.edit,
.images.edit:hover {
  z-index: 100;
  transition: all 0.3s ease-in-out;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  gap: 16px;

  .image.edit {
    transition: all 0.3s ease-in-out;
    -moz-transform: rotate(0deg) translateX(0px) translateY(0px);
    -ms-transform: rotate(0deg) translateX(0px) translateY(0px);
    -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
    transform: rotate(0deg) translateX(0px) translateY(0px);
  }
}