.poster {
  position: absolute;
  height: 200px;
  width: auto;
  border-radius: 4px;
  border-bottom-width: 15px;
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  z-index: 2;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.poster:first-child {
  transition: all 0.3s ease-in-out;
  margin-left: 64px;
  scale: 0.6;
}

.poster:nth-child(2) {
  transition: all 0.3s ease-in-out;
  margin-left: 32px;
  scale: 0.8;
}

.poster:last-child {}


.posters:hover .poster:nth-child(2) {
  transition: all 0.3s ease-in-out;
  margin-left: 64px;
  scale: 0.9;
}

.posters:hover .poster:first-child {
  transition: all 0.3s ease-in-out;
  margin-left: 128px;
  scale: 0.7;
}

.poster.slide-left {
  transition: all 0.3s ease-in-out;
  -moz-transform: translateX(-72px);
  -ms-transform: translateX(-72px);
  -webkit-transform: translateX(-72px);
  transform: translateX(-72px) scale(0.9);
}

.poster.back {
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
  scale: 0.7;
}