:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.ic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 12px;

  * {
    width: 100%;
    height: 100%;
  }
}

.ic-container.hidden-icon {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.ic-container.hidden-icon.profile-pic {
  position: absolute;
  z-index: 999;
  background-color: #d3d3d3;
  padding: 4px;
  width: 8px;
  height: 8px;
  color: gray;
}

.ic-container.hidden-icon.profile-pic.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.ic-container:hover {
  stroke: gray;
  scale: 1.15;
  transition: all .5s;
}

.bottom-right {
  display: flex;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 24px;
  min-height: fit-content;
}

.text-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  margin: 0px;
  outline: none;
  border: .5px solid lightgray;
  border-radius: 16px;
  background-color: #80808015;
  padding: 8px 16px;
  width: fit-content;
  height: 16px;
  min-height: fit-content;

  * {
    margin: 0;
    padding: 0;

  }
}

.profile-pic {
  /* background-color: rgba(230, 230, 230, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 dashed lightgray;
  border-radius: 8rem;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  * {
    margin: 0;
  }
}

.profile-desc {
  margin: 0;
  hyphens: auto;

  * {
    margin: 0;
    padding: 0;
  }
}

.post {
  display: flex;
  gap: 16px;
  transition: all .5s;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  background-color: rgba(211, 211, 211, 0.0);
  /* background-color: rgba(211, 211, 211, 0.2); */
  padding: 16px;
}

.post:hover {
  transition: all .5s;
  background-color: #F7F7F7;
  /* border: 1px solid rgb(220, 220, 220); */
}

.post-textarea {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  width: calc(100% - 48px);
  height: auto;

  textarea {
    outline: none;
    border: none;
    background: none;
    width: 100%;
    min-height: 16px;
    resize: none;
    color: #575757;
    font-size: inherit;
    font-family: inherit;
    hyphens: auto;
  }

  ::placeholder {
    color: gray;
  }

  * {
    margin: 0;
  }
}

.post-icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 2px;
  height: 14px;
}

.post-profile {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 16px;
  width: fit-content;
}

.post-username {
  display: flex;
  align-items: center;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: left;

  div {
    display: flex;
    align-items: center;
    min-height: 24px;
  }
}

.post-profile-pic {
  /* background-color: rgba(230, 230, 230, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 dashed lightgray;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
  }
}

.posts-placeholder {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-chip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all .5s;
  margin: 0px;
  border: 1px dashed lightgray;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4px 12px;
  height: 16px;
  min-height: fit-content;
  color: gray;

  * {
    margin: 0;
    padding: 0;

  }
}

.text-chip-button:hover {
  transition: all .5s;
  cursor: pointer;
  border-color: black;
  color: black;
}

.chip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  backdrop-filter: blur(10px);
  transition: all .5s ease-in-out;
  outline: none;
  border: .1px solid #80808020;
  border-radius: 20px;
  background-color: #efefef7d;
  padding: 0;
  width: 24px;
  min-width: fit-content;
  height: 24px;
  color: gray;

  * {
    margin: 0;
    padding: 0;
  }

  p {
    transition: max-width .5s ease-in-out;
    margin: 0;
    padding: 0;
    max-width: 0;
    max-height: 16px;
    overflow: hidden;
  }
}

.chip-button:hover {
  transition: all .5s ease-in-out;
  cursor: pointer;
  border: .1px solid #80808020;
  background-color: #efefef7d;
  padding: 0 8px;

  p {
    transition: max-width .7s ease-in-out;
    max-width: 7rem;
  }
}

.v-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 8px;
  height: fit-content;
  min-height: 16px;
}

.v-chip.open {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.modal-screen {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  backdrop-filter: blur(2px);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.modal-screen.visible {
  z-index: 98;
}

.modal {
  display: flex;
  position: absolute;
  top: 10%;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  height: fit-content;
}

.search-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  .search-bar-input {
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 16px;
    background-color: white;
    padding: 8px 16px;
    width: 100%;
    height: 16px;
    min-height: fit-content;
    color: gray;

    input {
      outline: none;
      border: none;
      background: none;
      padding: 0;
      width: 100%;
    }
  }
}

.text-bar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  .text-bar-input {
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(10px);
    outline: none;
    border: 0.1px solid #80808020;
    border-radius: 16px;
    background-color: #efefef7d;
    padding: 6px 12px;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    color: gray;

    input {
      outline: none;
      border: none;
      background: none;
      padding: 0;
      width: 100%;
      color: rgb(87, 87, 87);
    }

    ::placeholder {
      color: gray;
    }
  }
}

.modal-glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  backdrop-filter: blur(10px);
  border: .5px solid lightgray;
  border-radius: 8px;
  background-color: #80808015;
  padding: 16px;
  width: fit-content;
  color: rgb(87, 87, 87);
}

.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  backdrop-filter: blur(10px);
  border: .5px solid lightgray;
  border-radius: 8px;
  background-color: #80808015;
  padding: 16px;
  width: auto;
  height: fit-content;
  color: rgb(87, 87, 87);

  * {
    margin: 0;
    padding: 0;
  }
}

.glass.images {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
  }
}

.glass.images:hover {
  img {
    scale: 1.2;
    transition: all 0.3s ease-in-out;
  }
}

.books-list,
.movies-list,
.albums-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
  margin: 16px 0;
  border: 0.1px solid #80808020;
  border-radius: 16px;
  /* background-color: #dddddda9; */
  background-color: #efefef7d;
  padding: 8px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.books-list.visible,
.movies-list.visible,
.albums-list.visible {
  height: fit-content;
  max-height: 432px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.book-result,
.movie-result,
.album-result {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  transition: all .3s ease-in-out;
  border-radius: 8px;
  padding: 8px;

  .book-cover {
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    border: none;
    border-radius: 2px 4px 4px 2px;
    background-color: white;
    width: 42px;
    min-width: 42px;
    height: 64px;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .movie-cover {
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    border: none;
    border-radius: 4px;
    background-color: white;
    width: 42px;
    min-width: 42px;
    height: 64px;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .album-cover {
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    border: none;
    border-radius: 4px;
    background-color: white;
    width: 64px;
    height: 64px;
    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }
}

.book-result:hover,
.movie-result:hover,
.album-result:hover {
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(228, 228, 228, 0.25);
  /* background-color: #f7f7f7; */
  background-color: #ffffffa5;

}

.modal-open {
  overflow: hidden;
}

.modal-message {
  display: flex;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  border: 0px solid red;
  border-radius: 8px;
  background-color: rgb(222, 0, 0);
  padding: 16px;
  width: 40vh;
  height: fit-content;
  min-height: 10vh;
  color: white;
  text-align: center;
}

.heading-toggle {
  cursor: pointer;
  margin-right: 4px;
  height: fit-content;

  h3 {
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    height: fit-content;
    color: lightgray;
    font-weight: normal;
  }
}

.heading-toggle:hover {
  h3 {
    color: gray;
  }
}

.heading-toggle.selected {
  h3 {
    color: black;
  }
}