:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.ic-container {
  transition: all .5s;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  cursor: pointer;
  gap: 8px;

  * {
    height: 100%;
    width: 100%;
  }
}

.ic-container:hover {
  transition: all .5s;
  scale: 1.15;
  stroke: gray;
}

.bottom-right {
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.chip {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  height: 16px;
  min-height: fit-content;
}

.text-chip {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 8px;
  margin: 0px;
  height: 16px;
  min-height: fit-content;
  width: fit-content;

  * {
    padding: 0;
    margin: 0;

  }
}

.profile-pic {
  width: 8rem;
  height: 8rem;
  border: 1px dashed lightgray;
  border-radius: 8rem;
  /* background-color: rgba(230, 230, 230, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  * {
    margin: 0;
  }
}

.profile-desc {
  margin: 0;
  hyphens: auto;

  * {
    margin: 0;
    padding: 0;
  }
}

.post {
  transition: all .5s;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  /* background-color: rgba(211, 211, 211, 0.2); */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgba(211, 211, 211, 0.0);
}

.post:hover {
  transition: all .5s;
  background-color: #F7F7F7;
  /* border: 1px solid rgb(220, 220, 220); */
}

.post-text {
  display: flex;
  flex-direction: column;
  hyphens: auto;
  padding-left: 48px;

  * {
    margin: 0;
  }
}

.post-icons {
  padding: 8px 48px 0 48px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: 16px;
}

.post-profile {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.post-profile-pic {
  width: 32px;
  height: 32px;
  border: 1px dashed lightgray;
  border-radius: 32px;
  /* background-color: rgba(230, 230, 230, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-placeholder {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-chip-button {
  transition: all .5s;
  border: 1px dashed lightgray;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 16px;
  margin: 0px;
  height: 16px;
  min-height: fit-content;
  color: gray;

  * {
    padding: 0;
    margin: 0;

  }
}

.text-chip-button:hover {
  transition: all .5s;
  color: black;
  border-color: black;
  cursor: pointer;
}

.v-chip {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  min-height: 16px;
  height: fit-content;
}

.v-chip.open {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.modal-screen {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(2px);
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.modal-screen.visible {
  z-index: 98;
}

.modal {
  position: absolute;
  height: fit-content;
  top: 10%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;

  .search-bar-input {
    border-radius: 16px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px 16px;
    height: 16px;
    min-height: fit-content;
    color: gray;
    display: flex;
    align-items: center;
    outline: none;
    width: 100%;
    gap: 8px;

    input {
      padding: 0;
      border: none;
      outline: none;
      background: none;
      width: 100%;
    }
  }
}

.books-list,
.movies-list,
.albums-list {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 16px;
  padding: 8px;
  margin: 16px 0;
  gap: 8px;
  min-height: 0;
  overflow-y: auto;
  scroll-behavior: auto;
}

.books-list.visible,
.movies-list.visible,
.albums-list.visible {
  height: 432px;
}

.fav-books,
.fav-movies,
.fav-albums {
  border-radius: 8px;
  min-height: 256px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .book {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 86px;
    height: fit-content;
    text-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    opacity: 0;
    visibility: hidden;

    .text {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .cover {
      transition: all 0.3s ease-in-out;
      height: 128px;
      width: 86px;
      border-radius: 2px 8px 8px 2px;
      border-bottom-width: 15px;
      -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      overflow: hidden;
      margin-bottom: 8px;

      img {
        height: inherit;
        width: inherit;
      }
    }

    .cover:hover {
      transform: rotate(-8deg) scale(1.1);
    }
  }

  .book:hover {
    background-color: rgba(211, 211, 211, 0.15);
    backdrop-filter: blur(10);
  }

  .book.visible {
    transition: all 0.8s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  .movie {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 86px;
    height: fit-content;
    text-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    opacity: 0;
    visibility: hidden;

    .text {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .cover {
      transition: all 0.3s ease-in-out;
      height: 128px;
      width: 86px;
      border-radius: 4px;
      border-bottom-width: 15px;
      -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      overflow: hidden;
      margin-bottom: 8px;

      img {
        height: inherit;
        width: inherit;
      }
    }

    .cover:hover {
      transform: rotate(-8deg) scale(1.1);
    }
  }

  .movie:hover {
    background-color: rgba(211, 211, 211, 0.15);
    backdrop-filter: blur(10);
  }

  .movie.visible {
    transition: all 0.8s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  .album {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 16px;
    opacity: 0;
    visibility: hidden;

    .text {
      flex-grow: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }

    .cover {
      transition: all 0.3s ease-in-out;
      height: 128px;
      width: 128px;
      border-radius: 4px;
      -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
      overflow: hidden;
      margin-bottom: 8px;

      img {
        height: inherit;
        width: inherit;
      }
    }

    .cover:hover {
      transform: rotate(-8deg) scale(1.1);
    }
  }

  .album:hover {
    background-color: rgba(211, 211, 211, 0.15);
    backdrop-filter: blur(10);
  }

  .album.visible {
    transition: all 0.8s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

}

.masked-overflow {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 0px;

  /* mask fade distance, for use in mask calculations */
  --mask-width: 64px;

  /* Keep some space between content and scrollbar */
  padding: 0 32px;

  /* The CSS mask */

  /* The content mask is a linear gradient from left to right */
  --mask-image-content: linear-gradient(to right,
      transparent,
      rgb(255, 255, 255) var(--mask-width),
      rgb(255, 255, 255) calc(100% - var(--mask-width)),
      transparent);

  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));

  /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}

.visible {
  transition: all 0.3s ease-in-out;
  visibility: visible;
  opacity: 1;
}

.book-result,
.movie-result,
.album-result {
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .book-cover {
    width: 42px;
    min-width: 42px;
    height: 64px;
    border: none;
    border-radius: 2px 4px 4px 2px;
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    overflow: hidden;
    background-color: white;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .movie-cover {
    width: 42px;
    min-width: 42px;
    height: 64px;
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    overflow: hidden;
    background-color: white;

    img {
      width: inherit;
      height: inherit;
    }
  }

  .album-cover {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    overflow: hidden;
    background-color: white;

    img {
      width: inherit;
      height: inherit;
    }
  }
}

.book-result:hover,
.movie-result:hover {
  background-color: #F7F7F7;
}

.modal-open {
  overflow: hidden;
}

.modal-message {
  position: absolute;
  z-index: 200;
  background-color: rgb(222, 0, 0);
  border: 0px solid red;
  color: white;
  width: 40vh;
  min-height: 10vh;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-toggle {
  margin-right: 4px;
  cursor: pointer;
  height: fit-content;

  h3 {
    transition: all 0.3s ease-in-out;
    font-weight: normal;
    color: lightgray;
  }
}

.heading-toggle:hover {
  h3 {
    color: gray;
  }
}

.heading-toggle.selected {
  h3 {
    color: black;
  }
}